*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-color:rgb(221, 189, 178);
}
.box_inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 36px;
}
input{
  width:10vw;
  height: 8vh;
  margin:5%;
  font-size: 2vw;
}
.box_buttons{
  display: flex;
  justify-content: space-between;
  width: 50%;
  border: 1px solid;
}
button{
  width:10vw;
  height:8vh;
  background-color:orange;
  color: white;
  font-size:2vw;
  font-weight: bold;
  margin: 1%;
}
.calc{
  font-size:2vw;
  font-weight: bold;
  margin: 20px;
}
.result{
  font-size:5vw;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}